---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <!-- <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time> -->
  </p>
  
  <h1>{{ page.title }}</h1>
  <blockquote>
    <p><b>tags:</b>
    {%- for tag in page.tags -%}
       <em> #{{tag}} </em> 
    {%- endfor -%}
    </p>
    {%- if page.tags contains "article" -%}
        <p><b>title:</b> {{page.article-name}} 
          <a href="{{page.link}}" target="_blank">[link]</a>
        </p>
    {%- endif -%}
  </blockquote>


  {{ content | replace: ".md", "" }}
  {%-if content.size < 10-%}
    <p>This zettel has not been filled yet.</p>
  {%-endif-%}
</article>
